@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    color: white;
    background-color: #FF900E;
    font-weight: 600;
    padding: 20px 25px;
    font-size: 1.2rem;
    redius: 5px;
    border-radius: 8px;
}

/* dark2 */
.text-gray{
    color: #424242

}
/* drak_3 */
.text-light gray{
    color: #727272;
    
}



/* heders style  */


/* neavber related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
    

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-links{
    display: flex;
    text-decoration: none;
    

}
.nav-item{
    margin-right: 30px;
    list-style: none;
    

}
.navbar,.banner{
    max-width: 1400px;
    margin:0 auto;

}
.brand{
    font-weight:700 ;
    font-size: 3rem;
    
}
/* Banner related styles */
.banner-content{
    max-width: 868px; 
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font: weight 800px; 
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* responsive media queries */

@media screen and (max-width: 576px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
 
}
